# Load necessary libraries

In [45]:
import numpy as np

# Lecture

## Numbers

In [48]:
c = 7
d = 7.0

In [49]:
print(c, d)

7 7.0

In [50]:
print(type(c))

<class 'int'>

In [51]:
print(type(d))

<class 'float'>

In [52]:
for i in range(0, c):
    print(i)

0
1
2
3
4
5
6

In [53]:
# for i in range(d):
#     print(i)

# TypeError: 'float' object cannot be interpreted as an integer

In [54]:
c + d

14.0

## Strings

In [73]:
first_name = "Mike"
last_name = "Cohen"

In [75]:
type(first_name)

str

In [79]:
first_name + " " + last_name

'Mike Cohen'

In [81]:
c*d

49.0

In [83]:
first_name * c

'MikeMikeMikeMikeMikeMikeMike'

In [89]:
# first_name * d

# TypeError: can't multiply sequence by non-int of type 'float'

In [96]:
%whos

Variable               Type        Data/Info
--------------------------------------------
c                      int         7
d                      float       7.0
dataframe_columns      function    <function dataframe_columns at 0x1320e7c40>
dataframe_hash         function    <function dataframe_hash at 0x1320e7e20>
dtypes_str             function    <function dtypes_str at 0x1320e7880>
first_name             str         Mike
get_dataframes         function    <function get_dataframes at 0x1320e79c0>
getpass                module      <module 'getpass' from '/<...>b/python3.12/getpass.py'>
hashlib                module      <module 'hashlib' from '/<...>b/python3.12/hashlib.py'>
i                      int         6
import_pandas_safely   function    <function import_pandas_safely at 0x1320e7740>
is_data_frame          function    <function is_data_frame at 0x1320e7ba0>
json                   module      <module 'json' from '/opt<...>on3.12/json/__init__.py'>
last_name              str         Cohen
np                     module      <module 'numpy' from '/op<...>kages/numpy/__init__.py'>

# Exercise - my solution

In [103]:
s1 = "4"
s2 = "4.7"
n1 = 5
n2 = 5.8

## 1

In [114]:
s1_int = int(s1)
type(s1_int)

int

In [118]:
# s2_int = int(s2)

# # ValueError: invalid literal for int() with base 10: '4.7'

s2_float = float(s2)
type(s2_float)

float

## 2

In [128]:
s1_float = float(s1)
s2_float = float(s2)

In [130]:
type(s1_float)

float

In [132]:
type(s2_float)

float

In [147]:
print(int(float(s2)))

4

## 3

In [137]:
n1_string = str(n1)
type(n1_string)

str

In [141]:
n2_string = str(n2)
type(n2_string)

str

In [143]:
n1_string

'5'

In [145]:
n2_string

'5.8'

In [149]:
n2_string*2

'5.85.8'